<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="categories"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <link href="/css/editormd.preview.min.css" rel="stylesheet" type="text/css"/>
    <script src="/js/3.1.1/jquery.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/community.js"></script>
    <script src="/js/editormd.min.js"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js"></script>
</head>
<body>
<nav th:replace="~{common :: navbar}"></nav>
<div class="container-fluid container">
    <ul class="nav nav-tabs" role="tablist">
        <!--<li role="presentation"><a th:href="/">全部</a></li>-->
        <li role="presentation" th:class="${categoryName == 'all' }? 'active':''"><a
                href="/categories?categoryName=all">全部</a></li>
        <li role="presentation" th:each="selectCategory,selectCategoryaStat:${tagslist}"
            th:class="${categoryName==selectCategory.categoryName}? 'active':''"
        >
            <a th:href="@{/categories(categoryName=${selectCategory.categoryName})}" aria-controls="home" role="tab"
               th:text="${selectCategory.categoryName}"></a>
        </li>
    </ul>
    <div class="row" style="padding-left: 22px;
    padding-right: 22px;">
        <div class="col-md-6 col-lg-4 " th:each="tag :${tags}">
            <div class="tt-item">
                <div class="tt-item-header">
                    <ul class="tt-list-badge">
                        <li class=""><a th:href="@{/(tag=${tag.name})}"><span class="tt-color01 tt-badge color-random"
                                                                                          th:text="${tag.name}"></span></a>
                        </li>
                    </ul>
                    <h6 class="tt-title"><a href="">Threads - <span th:text="${tag.viewCount}"></span></a></h6></div>
                <div class="tt-item-layout">
                    <div class="innerwrapper">Lets discuss about whats happening around the <span
                            th:text="${tag.name}"></span>
                    </div>
                </div>
                <div class="innerwrapper"><h6 class="tt-title">detail</h6>
                    <br>
                    <ul class="tt-list-badge">
                        <li><span class="tt-badge">问题数：<span th:text="${tag.questionCount}"></span></span></li>
                        <li><span class="tt-badge">浏览数：<span th:text="${tag.viewCount}"></span></span></li>
                        <li><span class="tt-badge">评论数：<span th:text="${tag.commentCount}"></span></span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id='inputbox' class="box">
            <a class='x' href='#' onclick="reset();">关闭</a>
            <p>categoryName：</p>
            <select id="Select">
                <option th:each="selectCategory,selectCategoryaStat:${tagslist}"
                        th:text="${selectCategory.categoryName}"
                        th:value="${selectCategoryaStat.index}"
                ></option>
            </select>
            <p>tag：</p><input type="text" id="tag">
            <input type="button" value="确定" onclick='update()'>
        </div>
    </div>
    <div th:replace="~{common :: foot}"></div>
</div>
</body>
</html>
<script>
    $().ready(function(){
       colorrandom();
    });
function colorrandom(){
    var n=document.getElementsByClassName('color-random');
    for(i=0;i<n.length;i++){
        n[i].style.backgroundColor="rgb("+Math.random()*255+","+Math.random()*255+","+Math.random()*255+")";
    }

}
</script>