<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="categories"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <link href="/css/editormd.preview.min.css" rel="stylesheet" type="text/css"/>
    <script src="/js/3.1.1/jquery.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/community.js"></script>
    <script src="/js/editormd.min.js"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js"></script>
</head>
<body>
<nav th:replace="~{common :: navbar}"></nav>

<div class="container-fluid main">
    <div class="row">
        <ul>
            <li class="col-md-6 col-lg-4 nav " th:each="user :${users}"><a href="#"  th:text="${user.username}"></a>
            </li>
        </ul>
    </div>

</div>

<div th:replace="~{common :: foot}"></div>
</body>
</html>