<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>index</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/community.css" rel="stylesheet"/>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="/js/3.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.min.js"></script>
</head>
<body class="login">
<form id="form2" class="well" style="width: 30em; margin: auto; margin-top: 150px;background-color:rgba(255,255,255,.5)">
    <h3>用户注册</h3>
    <div class=" input-group input-group-md">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span> <input
            id="username" type="text" class="form-control" placeholder="用户名" aria-describedby="sizing-addon1"/>
    </div>
    <br/>
    <div class="input-group input-group-md">
              <span class="input-group-addon" >
                  <i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" id="password" class="form-control" placeholder="密码" aria-describedby="sizing-addon1"/>
    </div>

    <button type="button" class="btn btn-success btn-block" style="margin-top: 15px">注  册</button>
    <br/>
    <p class="text-muted text-center"><small>已经注册 ?</small></p>
    <a class="btn-sm btn-white btn-block text-center" th:href="login">登  录</a>
</form>
<script>
    $("#form2").on("click", ".btn", function (e) {
        var formData = $("#form2").serialize();
        var username = $("#username").val();
        if(!username){
            alert("用户名不能为空");
            return ;
        }
        var password = $("#password").val();
        if(!password){
            alert("密码不能为空");
            return ;
        }
        $.ajax({
            url: "/register",
            type: "post",
            data: {"username": username, "password":password },
            dataType: "json",
            success: function (result) {

                if (result.code==200 ) {
                    alert("注册成功");
                    window.location.href = "/login";
                } else if(2014 == result.code){
                    console.log(result.message);
                    alert(result.message);
                }
            }
        })
    })
</script>
</body>
</html>

