<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>我的论坛 | 用户管理</title>
    <div th:replace="~{ ../templates/admin/includes/includes :: header}"></div>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <div th:replace="~{ ../templates/admin/includes/includes :: nav}"></div>
    <div th:replace="~{ ../templates/admin/includes/includes :: menu}"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                订单管理
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li class="active">控制面板</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <th:if test="${baseResult != null}">
                        <div class="alert alert-${ResultDTO.code == 200 ? 'success' : 'danger'} alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                               <span th:text="${ResultDTO.message}"></span>
                        </div>
                    </th:if>

                    <div class="box box-info box-info-search" style="display: none;">
                        <div class="box-header">
                            <h3 class="box-title">高级搜索</h3>
                        </div>

                        <div class="box-body">
                            <div class="row form-horizontal">
                                <div class="col-xs-12 col-sm-3">
                                    <div class="form-group">
                                        <label for="username" class="col-sm-4 control-label">姓名</label>

                                        <div class="col-sm-8">
                                            <input id="username" class="form-control" placeholder="姓名" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <div class="form-group">
                                        <label for="email" class="col-sm-4 control-label">邮箱</label>

                                        <div class="col-sm-8">
                                            <input id="email" class="form-control" placeholder="邮箱" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <div class="form-group">
                                        <label for="phone" class="col-sm-4 control-label">手机</label>

                                        <div class="col-sm-8">
                                            <input id="phone" class="form-control" placeholder="手机" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box-footer">
                            <button type="button" class="btn btn-info pull-right" onclick="search();">搜索</button>
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">订单列表</h3>
                        </div>

                        <div class="box-body">
                            <button type="button" class="btn btn-sm btn-default" onclick="App.deleteMulti('/main/order/delete')"><i class="fa fa-trash-o"></i> 删除</button>&nbsp;&nbsp;&nbsp;
                            <a href="#" type="button" class="btn btn-sm btn-default"><i class="fa fa-download"></i> 导入</a>&nbsp;&nbsp;&nbsp;
                            <a href="#" type="button" class="btn btn-sm btn-default"><i class="fa fa-upload"></i> 导出</a>&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-sm btn-primary" onclick="$('.box-info-search').css('display') == 'none' ? $('.box-info-search').show('fast') : $('.box-info-search').hide('fast')"><i class="fa fa-search"></i> 搜索</button>
                        </div>

                        <!-- /.box-header -->
                        <div class="box-body table-responsive">
                            <table id="dataTable" class="table table-hover">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" class="minimal icheck_master" /></th>
                                    <th>ID</th>
                                    <th>用户Id</th>
                                    <th>商品id</th>
                                    <th>订单编号</th>
                                    <th>创建时间</th>
                                    <th>订单金额</th>
                                    <th>更新时间</th>
                                    <th>是否删除</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
    </div>

    <div th:replace="~{ ../templates/admin/includes/includes :: copyright}"></div>
</div>

<div th:replace=" ../templates/admin/includes/includes :: footer"></div>

<!-- 自定义模态框 -->
<sys:modal />

<script>
    var _dataTable;

    $(function () {
        var _columns = [
            {
                "data": function (row, type, val, meta) {
                    return '<input id="' + row.id + '" type="checkbox" class="minimal" />';
                }
            },
            {"data": "id"},
            {"data": "userId"},
            {"data": "couponId"},
            {"data": "orderSn"},
            {
                "data": "createTime", render: function (data, type, row, meta) {
                    if (data) {   // data不为空进行转换
                        return (new Date(data)).Format("yyyy-MM-dd hh:mm:ss");
                    } else {
                        return data = ''; //data为空时不转换
                    }
                }
            },
            {"data": "payAmount"},
            {"data": "modifyTime", render: function (data, type, row, meta) {
                    if (data) {   // data不为空进行转换
                        return (new Date(data)).Format("yyyy-MM-dd hh:mm:ss");
                    } else {
                        return data = ''; //data为空时不转换
                    }
                }},
            {"data": "deleteStatus", render: function (data, type, row, meta) {
                    if (data==1) {
                        return "已删除";
                    } else {
                        return "未删除";
                    }
                }},
            {
                "data": function (row, type, val, meta) {
                    var detailUrl = "/main/order/detail?id=" + row.id;
                    var deleteUrl = "/main/order/delete";
                    return '<button type="button" class="btn btn-sm btn-default" onclick="App.showDetail(\'' + detailUrl + '\');"><i class="fa fa-search"></i> 查看</button>&nbsp;&nbsp;&nbsp;' +
                        // '<a href="/main/order/form?id=' + row.id + '" type="button" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> 编辑</a>&nbsp;&nbsp;&nbsp;' +
                        '<button type="button" class="btn btn-sm btn-danger" onclick="App.deleteSingle(\'' + deleteUrl + '\', \'' + row.id + '\');"><i class="fa fa-trash-o"></i> 删除</button>';
                }
            }
        ];

        _dataTable = App.initDataTables("/main/order/page", _columns);
    });

    function search() {
        var username = $("#username").val();
        var phone = $("#phone").val();
        var email = $("#email").val();

        var param = {
            "username": username,
            "phone": phone,
            "email": email
        };

        _dataTable.settings()[0].ajax.data = param;
        _dataTable.ajax.reload();
    }
</script>
</body>
</html>

<script>
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份

            "d+": this.getDate(), //日

            "h+": this.getHours(), //小时

            "m+": this.getMinutes(), //分

            "s+": this.getSeconds(), //秒

            "q+": Math.floor((this.getMonth() + 3) / 3), //季度

            "S": this.getMilliseconds() //毫秒

        };
        if (/(y+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        }
        for (var k in o) {
            if (new RegExp("(" + k + ")").test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length === 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            }
        }
        return fmt;
    };
</script>